extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${tourney.photo || 'store.png'}`)
            h2.title.title--single #{tourney.venue} #{tourney.buyin}

    .single__details.inner
        img.single__map(src=h.staticMap(tourney.location.coordinates))
        p.single__location= tourney.location.address
                