mixin tourneyForm(tourney = {})
    form(action=`/add/${tourney.id || ''}` method="POST" class="card" enctype="multipart/form-data")
        label(for="venue") Venue
        input(type="text" name="venue" value=tourney.venue)
        label(for="buyin") Buy In Amount
        input(type="text" name="buyin" value=tourney.buyin)
        label(for="date") Date of Tourney
        input(type="text" name="date" value=tourney.date)
        //- Image upload:
        label(for="photo") Photo
            input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
            if tourney.photo
                img(src=`/uploads/${tourney.photo}`, alt=tourney.venue width=200)
        //- Address,lng and lat:
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(tourney.location 
        && tourney.location.address))

        label(for="lng") Address lng
        input(type="text" id="lng" name="location[coordinates][0]" value=(tourney.location 
        && tourney.location.coordinates[0]) required) 

        label(for="lat") Address lat
        input(type="text" id="lat" name="location[coordinates][1]" value=(tourney.location 
        && tourney.location.coordinates[1]) required) 

        input(type="submit" value="Save" class="button")